.header_inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba( 0, 0, 0, 0.5)), url("background.png") center center no-repeat;
    background-size: cover;
}
.container{
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.header_top{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
}
.text_in_header_top{
    padding: 19px;
}
.navig_header{
    display: flex;
    padding: 28px;
    text-decoration: none;
    list-style-type: none;

}
.header_main{
    display: flex;
    justify-content: space-between;
}
li{
    margin: 0 10px;
}
.a1_header_nav{
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    transition: 0.5s;
}
.a1_header_nav:hover{
    font-size: 20px;
    transition: 0.5s;
}
.header_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 205px 0;
    text-align: center;
}
.text_in_header_center{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
}
.agency_in_header{
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}
.btn{
    display: flex;
    justify-content: center;
    margin: 44px;
}
.btn_class1{
    padding-top: 15px;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 15px;
    border: solid #ffffff;
    border-radius: 2px;
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Montserrat";
    text-align: center;
    transition: 0.5s;
}
.btn_class1:hover{
    background-color: #ffffff;
    color: #bf2f1b;
    transition: 0.5s;
}
.main_inner{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.services_in_main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Services1{
    display: flex;
    font-size: 36px;
    line-height: 24px;
    color: #555555;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    text-transform: uppercase;
}
.line_under_services{
    display: flex;
    padding: 10px 0;
    width: 50px;
    border-bottom: 2px solid #555555;
}
.text_in_main_services{
    display: flex;
    padding: 30px 0;
    font-size: 16px;
    line-height: 24px;
    color: #555555;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
}
.services_photos_in_main{
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.first_service_photo_in_main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
}
.ellipsepng{
    display: flex;
    transition: 0.5s;
}
.ellipsepng:hover{
    transition: 0.5s;
}
.text_in_ellipse1png{
    display: flex;
}
.main_text_in_ellipse{
    padding: 20px;
    font-size: 14px;
    line-height: 24px;
    color: #555555;
    font-weight: 500;
    font-family: "Montserrat";
    text-align: center;
    text-transform: uppercase;
}
.block_with_photo{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-evenly;
    justify-content: space-evenly;
}
.ellipsepng{
    width: 100px;
    height: 100px;
}
.footer_text_in_ellipse{
    display: flex;
    width: 360px;
    height: 63px;
    font-size: 14px;
    line-height: 24px;
    color: #555555;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
}
.main_text_in_ellipse1{
    padding: 20px;
    font-size: 14px;
    line-height: 24px;
    color: #555555;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    text-transform: uppercase;
}
.container1{
    width: 100%;
    max-width: 1200px;
    padding: 100px 0;
    margin: 0 auto;
}
.footer{
    width: 100%;
    height: 35vh;
    background-color: #bf2f1b;
    background-size: cover;
}
.images_in_footer_block{
    display: flex;
    justify-content: center;
}
.twitter_image{
    display: flex;
    margin-top: 125px;
    margin-left: 7.5px;
    margin-right: 7.5px;
    margin-bottom: 45px;
    color: #ffffff;
}
.last_text_in_project{
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto Slab";
}